[Unit]
Description=db_connection
After=network.target

[Service]
Type=simple
User=brenn # Replace with your actual user
WorkingDirectory=/var/www/html/orderbook
ExecStart=/home/brenn/environments/okx/bin/activate/bin/gunicorn -k geventwebsocket.gunicorn.workers.GeventWebSocketWorker -b 0.0.0.0:5020 --workers 1 --pid /home/brenn/gunicorn_folder/db_connection.pid app.db.db_connection:app
Environment="VIRTUAL_ENV=/home/brenn/environments/okx/bin/activate"
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/snap/bin"
Restart=always
RestartSec=10s
StandardOutput=journal
StandardError=journal
TimeoutSec=300

[Install]
WantedBy=multi-user.target
