[Unit]
Description=htx_last_public_trades
After=network.target

[Service]
Type=simple
User=brenn # Replace with your actual user
WorkingDirectory=/var/www/html/orderbook
ExecStart=/home/brenn/environments/venv/bin/activate/bin/gunicorn -k geventwebsocket.gunicorn.workers.GeventWebSocketWorker -b 0.0.0.0:6101 --workers 1 --pid /home/brenn/gunicorn_folder/htx_last_public_trades.pid app.display_engines_ws.htx_trade_history:app
Environment="VIRTUAL_ENV=/home/brenn/environments/venv/bin/activate"
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/snap/bin"
Restart=always
RestartSec=10s
StandardOutput=journal
StandardError=journal
TimeoutSec=300

[Install]
WantedBy=multi-user.target
