aiohappyeyeballs==2.4.3
aiosignal==1.3.1
alphaquant==1.1.7
anyio==4.6.2.post1
APScheduler==3.10.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==3.0.1
attrs==24.2.0
Automat==24.8.1
babel==2.16.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
bleach==6.1.0
blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.0
click==8.1.7
comm==0.2.2
constantly==23.10.4
cryptography==43.0.1
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
executing==2.1.0
fastjsonschema==2.20.0
Flask==3.0.3
Flask-Cors==5.0.0
Flask-SocketIO==5.4.1
fqdn==1.5.1
frozenlist==1.5.0
gevent==24.10.3
gevent-websocket==0.10.1
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.6
httpx==0.27.2
huobi-client==2.0.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==2.7
importlib_metadata==8.5.0
incremental==24.7.2
ipykernel==6.29.5
ipython==8.28.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.4
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==25.4.1
loguru==0.7.2
MarkupSafe==3.0.1
matplotlib-inline==0.1.7
mistune==3.0.2
more-itertools==10.5.0
multidict==4.7.6
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.2.2
notebook_shim==0.2.4
overrides==7.7.0
packaging==24.1
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
platformdirs==4.3.6
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.2.0
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
Pygments==2.18.0
PyJWT==2.9.0
pyOpenSSL==24.2.1
python-dateutil==2.9.0.post0
python-engineio==4.10.1
python-json-logger==2.0.7
python-okx==0.3.3
python-socketio==5.11.4
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
redis==5.1.1
referencing==0.35.1
requests==2.20.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.20.0
SecretStorage==3.3.3
Send2Trash==1.8.3
setuptools==75.3.0
simple-websocket==1.1.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
terminado==0.18.1
tinycss2==1.3.0
tornado==6.4.1
traitlets==5.14.3
Twisted==24.7.0
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzlocal==5.2
uri-template==1.3.0
urllib3==2.2.3
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==0.57.0
websockets==13.1
Werkzeug==3.0.4
widgetsnbextension==4.0.13
wsproto==1.2.0
yarl==1.17.1
zipp==3.20.2
zope.event==5.0
zope.interface==7.1.0