
source /var/www/html/config_folder/bashconfig.env
venv="/home/brenn/environments/venv"
okxenv="/home/brenn/environments/okx"

[Unit]
Description=Gunicorn instance for auth
After=network.target

[Service]
User=brenn
Group=
WorkingDirectory=/var/www/html/orderbook
ExecStart=/home/brenn/environments/venv/bin/gunicorn -w 1 -b 0.0.0.0:5000 --pid /home/brenn/gunicorn_folder/auth.pid --access-logfile /home/brenn/gunicorn_folder/.log --error-logfile /home/brenn/gunicorn_folder/auth.log app.auth:app
Environment="VIRTUAL_ENV=/home/brenn/environments/venv"
Environment="PATH=$venv:$PATH"
Environment="PYTHONPATH=/var/www/html/orderbook"
Restart=always
RestartSec=10s
StandardOutput=journal
StandardError=journal
TimeoutSec=300

[Install]
WantedBy=multi-user.target
