
source /var/www/html/config_folder/bashconfig.env
venv="/home/brenn/environments/venv"
okxenv="/home/brenn/environments/okx"

[Unit]
Description=Gunicorn instance for htx_open_orders
After=network.target

[Service]
User=brenn
Group=
WorkingDirectory=/var/www/html/orderbook
ExecStart=/home/brenn/environments/venv/bin/gunicorn -k geventwebsocket.gunicorn.workers.GeventWebSocketWorker -b 0.0.0.0:6061 --pid /home/brenn/gunicorn_folder/htx_open_orders.pid --access-logfile /home/brenn/gunicorn_folder/.log --error-logfile /home/brenn/gunicorn_folder/htx_open_orders.log app.display_engines_rest.htx_open_orders:app
Environment="VIRTUAL_ENV=/home/brenn/environments/venv"
Environment="PATH=$venv:$PATH"
Environment="PYTHONPATH=/var/www/html/orderbook"
Restart=always
RestartSec=10s
StandardOutput=journal
StandardError=journal
TimeoutSec=300

[Install]
WantedBy=multi-user.target
