
source /var/www/html/config_folder/bashconfig.env
venv="/home/brenn/environments/venv"
okxenv="/home/brenn/environments/okx"

[Unit]
Description=Gunicorn instance for okx_positions
After=network.target

[Service]
User=brenn
Group=
WorkingDirectory=/var/www/html/orderbook
ExecStart=/home/brenn/environments/okx/bin/gunicorn -k geventwebsocket.gunicorn.workers.GeventWebSocketWorker -b 0.0.0.0:5070 --pid /home/brenn/gunicorn_folder/okx_positions.pid --access-logfile /home/brenn/gunicorn_folder/.log --error-logfile /home/brenn/gunicorn_folder/okx_positions.log app.display_engines_rest.okx_positions:app
Environment="VIRTUAL_ENV=/home/brenn/environments/okx"
Environment="PATH=$okxenv:$PATH"
Environment="PYTHONPATH=/var/www/html/orderbook"
Restart=always
RestartSec=10s
StandardOutput=journal
StandardError=journal
TimeoutSec=300

[Install]
WantedBy=multi-user.target
