
source /var/www/html/config_folder/bashconfig.env
venv="/home/brenn/environments/venv"
okxenv="/home/brenn/environments/okx"

[Unit]
Description=Uvicorn instance for htx_orderbook_ws
After=network.target
[Service]
User=brenn
Group=
WorkingDirectory=/var/www/html/orderbook
ExecStart=/home/brenn/environments/okx/bin/uvicorn app.fastapi.htxperp.ws.public.htx_orderbook_ws:app --port 5091 --host 0.0.0.0 --reload
Environment="VIRTUAL_ENV=/home/brenn/environments/okx"
Environment="PATH=$okxenv:$PATH"
Environment="PYTHONPATH=/var/www/html/orderbook"
Restart=always
RestartSec=10s
StandardOutput=journal
StandardError=journal
TimeoutSec=300

[Install]
WantedBy=multi-user.target
